.wrapper {
    width: 100%;
    height: 100%;
}

.topBlock {
    width: 100%;
    height: 100vh;
    display: flex;
}

.topBlockLeftSide {
    width: 50%;
    height: 100%;
    background-color: #EC6609;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutText{
    font-size: 52px;
     color: white;
}
.list ul {
    font-size: 28px;
    color: white;
}
.topBlockLeftSide li {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.midBlocktext {
    color: #8D8E92;
    font-size: 16px;
    margin-bottom: 16px;
}

.topBlockRightSide {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.topBlockRightSide:first-child {
    width: 100%;
}

.midBlock {
    width: 100%;
    height: 80vh;
    display: flex;
}

.midBlockLeftSide {
    width: 50%;
    height: 100%;
    position: relative;
}
.firstImage{
    width: 65%;
    height: auto;
    position: absolute;
    right: 25px;
    top: 62px;
    border-radius: 10px;
}
.secondImage{
    width: 40%;
    height: auto;
    position: absolute;
    top:200px;
    left: 100px;
    border: 20px solid white;
    border-radius: 10px;
}

.midBlockRightSide {
    padding: 10px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.midBlockRightSide li {
    color: #8D8E92;
    font-size: 16px;
    margin-bottom: 16px;
}
.midBlockHeader{
    font-size : 38px
}

.about {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8D8E92;
    border: 1px solid #C7DCFB;
    width: 120px;
    border-radius: 200px;
    padding: 4px;
    text-align: center;
}
.parent{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.bottomBlock {
    width: 100%;
    height: 70vh;
    display: flex;
}

.bottomBlockLeftSide {
    width: 50%;
    height: 100%;
    background-color: #EC6609;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chooseText{
    color: white;
     font-size: 38px 
}
.bottomButton{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    border: 1px solid #C7DCFB;
    width: 120px;
    border-radius: 200px;
    padding: 4px;
    text-align: center;
}

.bottomBlockRightSide {
    width: 50%;
    height: 100%;
}
.experienceText{
    color: white;
     font-size: 20px
}
.Experience{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

.map{
    width: 100%;
    height: 100%;
}
 .Experience li {
        font-size: 14px;
        text-align: start;
        width: 150px;
    }


@media only screen and (max-width:1140px) {
    .aboutText{
        font-size: 48px;
        margin-left: 20px;
    }
    .topBlockLeftSide li  {
        margin-left: 40px;
    }
    .chooseText{
        font-size: 32px;
        margin-left: 20px;
    }
    .bottomButton{
        margin-left: 20px;
    }
    .experienceText{
        margin-left: 20px;
        font-size: 18px;
    }
  }




  @media only screen and (max-width:980px) {
    .aboutText{
        font-size: 45px;
        margin-left: 20px;
    }
    .topBlockLeftSide li  {
        margin-left: 40px;
    }
    .midBlockHeader{
        font-size: 25px;
    }
    .chooseText{
        font-size: 28px;
    }
    .experienceText{
        font-size: 14px;
    }
    
  }





  @media only screen and (max-width:720px) {
    
    .aboutText{
        font-size: 28px;
        margin-left: 20px;
    }
    .list ul {
        font-size: 22px;
    }
    .list li {
        font-size: 16px;
    }
    .midBlockHeader{
        font-size: 20px;
    }
    .midBlocktext{
        font-size: 14px;
    }
     .chooseText{
        font-size: 22px;
    }
    .experienceText{
        font-size: 13px;
    }
    .Experience li {
        font-size: 14px;
        text-align: start;
        width: 100px;
    }
    .parent{
        display: flex;
        margin: 0px 20px 0px 20px;
    }
  }

  @media only screen and (max-width:400px) {

    .topBlock{
        display: flex;
        flex-direction: column;
        height: 2000px;
    }
    .topBlockLeftSide{
        display: block;
        width: 100%;
    }
    .aboutText{
        font-size: 100px;
        margin-top: 100px;
    }
    .list ul {
        font-size: 80px;
    }
    .list li {
        font-size: 60px;
    }
    .topBlockRightSide{
        width: 100%;
    }
    .midBlock{
        height: 2000px;
        display: flex;
        flex-direction: column;
    }
    .midBlockLeftSide{
        width: 100%;
        margin-top:-150px;
    }
    .firstImage{
        width: 900px;
        margin-right: 100px;
    }
    .secondImage{
        width: 700px;
        margin-top: 100px;
    }
    .midBlockRightSide{
        width: 100%;
    }
    .about{
        width: 400px;
        font-size: 60px;
        margin-top:-300px;
    }
    .midBlockHeader{
        font-size: 70px;
    }
    .midBlocktext{
        font-size: 40px;
    }
    .midBlockRightSide li{
        font-size: 55px;
    }
    .bottomBlock{
        display: flex;
        flex-direction: column;
        height: 2000px;
    }
    .bottomBlockLeftSide{
        width: 100%;
    }
    .bottomButton{
        font-size: 80px;
        margin-left: 350px;
        width: 400px;
    }
    .chooseText{
        margin-left: 350px;
        font-size: 70px;
    }
    .experienceText{
        font-size: 50px;
    }
    .Experience li {
        width: 100%;
        font-size: 45px;
    }
    .bottomBlockRightSide{
        width: 100%;
    }
    
  }
  