.wrapper {
  width: 80%;
  height: 800px;
  margin: 20px;
}

.title {
  height: 13%;
}

.text1 {
  font-family: Readex Pro;
  font-size: 42px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.text2 {
  font-family: Readex Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;

}

.categories {
  height: 85%;
  display: flex;
}

.leftSide {
  width: 50%;
  height: 97.7%;
}

.rightSide {
  width: 50%;
  height: 100%;
  display: flex;
}

.leftSideLaptop {
  width: 100%;
  height: 60%;
  padding: 20px;
  background-color: white;
  margin-bottom: 50px;
  cursor: pointer;
  box-shadow: 2px 0px 29px 0px rgba(181, 180, 180, 0.75);
  -webkit-box-shadow: 2px 0px 29px 0px rgba(181, 180, 180, 0.75);
  -moz-box-shadow: 2px 0px 29px 0px rgba(181, 180, 180, 0.75);
}

.leftSideWatch {
  width: 100%;
  height: 30%;
  display: flex;
  background-color: white;
  cursor: pointer;
  box-shadow: 2px 0px 29px 0px rgba(181, 180, 180, 0.75);
  -webkit-box-shadow: 2px 0px 29px 0px rgba(181, 180, 180, 0.75);
  -moz-box-shadow: 2px 0px 29px 0px rgba(181, 180, 180, 0.75);
}

.img {
  padding-left: 40px;
  height: 75%;
}

.laptopName {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  margin: 0;
  padding-right: 40px;
}

.laptopDesc {
  font-family: Readex Pro;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  margin: 0;
  padding-right: 40px;
  height: 25%;
  text-align: end;
}

.watchDesc {
  font-family: Readex Pro;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  margin: 0;
  padding-right: 40px;
  height: 25%;
  text-align: end;
}

.phoneDesc {
  font-family: Readex Pro;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  margin: 0;
  padding-right: 40px;
  height: 25%;
  text-align: end;
}

.IpadDesc {
  font-family: Readex Pro;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  margin: 0;
  padding-right: 40px;
  height: 25%;
  text-align: end;
}

.laptopDescBlock {
  text-align: end;
}

.watchText {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 42px;
}

.watchName {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: right;
}

.watchDesc {
  font-family: Readex Pro;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: right;
}

.watchImg {
  width: 60%;
}

.watchImgimg {
  width: 250px;
  height: 200px;
}

.rigthPhoneSide {
  width: 50%;
  height: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 2px 0px 29px 0px rgba(181, 180, 180, 0.75);
  -webkit-box-shadow: 2px 0px 29px 0px rgba(181, 180, 180, 0.75);
  -moz-box-shadow: 2px 0px 29px 0px rgba(181, 180, 180, 0.75);
  margin-left: 20px;
  background-color: white;
}

.rigthPhoneText1 {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.rigthPhoneText2 {
  font-family: Readex Pro;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.ipadSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: 20px;
  height: 92%;
  background-color: white;
  cursor: pointer;
  box-shadow: 2px 0px 29px 0px rgba(181, 180, 180, 0.75);
  -webkit-box-shadow: 2px 0px 29px 0px rgba(181, 180, 180, 0.75);
  -moz-box-shadow: 2px 0px 29px 0px rgba(181, 180, 180, 0.75);
}

.ipadText1 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.ipadText2 {
  font-family: Readex Pro;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

.notebookImg {
  width: 350px;
  height: 290px;
}

.twoPhonesImg {
  width: 250px;
  height: 200px;
}
.ipadImg{
  width: 250px;
  height: 200px;
}


@media only screen and (max-width:1140px) {
  .wrapper {
    width: 80%;
    height: 800px;
    margin: 20px;
  }

  .text1 {
    font-size: 35px;
  }

  .laptopDesc {
    font-family: Readex Pro;
    font-size: 26px;
    line-height: 26px;
  }

  .laptopName {
    margin-right: -30px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width:980px) {
  .laptopDesc {
    font-size: 22px;
  }
}

@media only screen and (max-width:720px) {
  .laptopDesc {
    font-size: 16px;
  }

  .text1 {
    font-size: 27px;
    font-weight: 300;
    line-height: 40px;
  }

  .text2 {
    font-size: 12px;
  }

  .wrapper {
    width: 1000px;
  }
}

@media only screen and (max-width:540px) {
  .wrapper {
    width: 1000px;
  }

}


@media only screen and (max-width:400px) {
  .wrapper {
    height: 4800px;
    margin-bottom: 500px;
  }

  .title {
    height: 20%;
    margin-bottom: -200px;
    margin-top: 100px;
  }

  .text1 {
    font-size: 90px;
    line-height: 70px;
    margin-bottom: 100px;
    margin-top: 50px;

  }

  .text2 {
    font-size: 54px;
    line-height: 70px;

  }

  .categories {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .leftSide {
    width: 100%;
    margin-bottom: 100px;
  }

  .leftSideLaptop {
    height: 60%;
    display: flex;
    flex-direction: column;
  }

  .img img {
    height: 100%;
    width: 100%;
  }

  .laptopDescBlock {
    height: 200px;
    margin-top: 50px;
  }

  .laptopName {
    text-align: start;
    font-size: 80px;
    margin-top: 50px;
  }

  .laptopDesc {
    text-align: end;
    font-size: 60px;
    line-height: 70px;
  }

  .leftSideWatch {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;
    margin-bottom: -40px;
  }

  .watchImg {
    width: 100%;
    height: 200%;
  }

  .watchImgimg {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  .watchText {
    width: 100%;
  }

  .watchName {
    font-size: 80px;
    text-align: start;
    width: 100%;
    margin-left: 40px;
    margin-top: 50px;
  }

  .watchDesc {
    line-height: 80px;
    width: 100%;
    text-align: end;
    font-size: 60px;
  }

  .rightSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 1900px !important;
    gap: 60px;
  }

  .rigthPhoneSide {
    width: 100%;
    margin: 0;
    height: 55%;
  }

  .rigthPhoneImg {
    height: 70%;
    width: 100%;
  }

  .rigthPhoneImg img {
    width: 100%;
    height: 100%;
  }

  .rigthPhoneText {
    width: 100%;
  }

  .rigthPhoneText1 {
    margin-top: 50px;
    margin-left: 30px;
    text-align: start;
    width: 100% !important;
    font-size: 80px;
  }

  .phoneDesc {
    font-size: 60px;
    line-height: 80px;
    width: 100%;
    text-align: end;
  }
  .ipadSide{
    width: 100%;
    height: 60%;
    margin: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .ipadImgBlock{
    width: 100%;
    height: 70%;
  }
  .ipadImg{
    width: 100%;
    height: 100%;
  }
.ipadTextBlock{
  width: 100%;
}
.ipadText1{
  width: 100%;
  text-align: start;
  font-size: 80px;
  margin-left: 30px;
}
.IpadDesc{
  text-align: end;
  width: 100%;
  font-size: 60px;
  line-height: 60px;
}
}