.footer {
  width: 100%;
  height: 350px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.info {
  height: 80%;
  display: flex;
}
.infoRightSide {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.infoRightSide li {
  list-style: none;
  margin: 10px;
}
.title {
  font-size: 20px;
}
.infoLeftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  margin-top: 15px;
}
.footerEnd {
  height: 20%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border-top: 1px solid #dce5e2;
  padding-left: 70px;
  padding-right: 70px;
}
.country{
  width: 170;
  height: 20px;
}
.footImg1{
  width: 12px;
  height: 12px;
}
.footerText1{
  font-size:14px ;
  margin-top: 30px;
}
@media only screen and (max-width:1140px) {
 .title{
  font-size: 18px;

 }
 .infoRightSide{
  font-size: 14px;
 }
 .footerText{
  margin-top: 20px;
  font-size: 14px;
 }
}




@media only screen and (max-width:980px) {
  .title{
    font-size: 16px;
  
   }
   .infoRightSide{
    font-size: 14px;
   }
   .footerText{
    margin-top: 20px;
    font-size: 14px;
   }
}

@media only screen and (max-width:720px) {
  .title{
    font-size: 14px;
  
   }
   .infoRightSide{
    font-size: 14px;
   }
   .footerText{
    margin-top: 20px;
    font-size: 13px;
   }
   
}
@media only screen and (max-width:400px) {
  .footer{
    height: 2000px;
  }
  .informSide{
    width: 700px;
    height: 700px;
    margin: 0 auto;
  }
  .informSide img{
    width: 100%;
    height: 25%;
    margin-bottom: 120px;
    margin-top: 30px;
    margin-left: 280px;
   }
   .footerText{
    font-size: 50px;
    margin-left: 280px;
    width: 100%;
   }
   .title{
    font-size: 50px;
    margin-bottom: -100px!important;
    height: 250px;
   }
   .li{
    font-size: 40px;
   }
   .info{
    display: flex;
    flex-direction: column;
   }
   .infoLeftSide{
    margin-bottom: 100px;
   }
   .infoRightSide{
    margin-left: 200px;
   }
   .footImg1{
    width: 50px;
    height: 50px;
   }
   .footerEnd div span{
    font-size: 40px;
   }
   .li1{
    font-size: 30px;
   }
   .title1{
    font-size: 45px;
   }
   .footerText1{
    font-size:45px ;
    margin-left: 280px;
    width: 100%;

  }

}
