.wrapper {
  width: 80%;
  height: 500px;
  margin: 15px;
}
.text1 {
  font-family: Readex Pro;
  font-size: 42px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}
.text2 {
  font-family: Readex Pro;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
  
}

.moreInfo {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moreInfo span {
  margin-right: 4px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.title {
  height: 20%;
}
.imgAndInfo {
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.ideaImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ideaText p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 28px;
}
.ideaText1 p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 28px;
}
.ideaImg img{
  width: 100%;
  height: 100%;
}
.seeAll{
  width: 15px;
  height: 15px;
}


@media only screen and (max-width:1140px) {
   .ideaText p{
    font-size: 18px;
   }
   .ideaImg img{
    width: 80%;
   }
} 
@media only screen and (max-width:400px) {
.wrapper{
  height: auto;
}
.imgAndInfo{
  display: flex;
  flex-direction: column;
}
.title{
  height: 400px;
}
.text1{
  font-size: 80px;
}
.text2{
  font-size: 60px;
  line-height: 70px;
  margin-top: 80px;
}
.imgAndInfo{
  height: 1500px;
}
.ideaImg{
  height: 70%;
  width: 100%;
}
.ideaImg img{
  height: 100%;
  width: 100%;
}
.ideaText p{
  font-size: 50px;
  line-height: 70px;
}
.ideaText1 p{
  font-size: 50px;
  line-height: 70px;
}
.moreInfo{
height: 300px;
}
.moreInfo span{
  font-size: 80px;
}
.seeAll{
  width: 100px;
  height: 100px;
}
} 
