.wrapper {
  background-color: #dce5e2;
  width: 65%;
  height: 450px;
  margin: 15px;
}
.title {
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.text1 {
  width: auto;
  
  height: 53px;
  left: calc(50% - 393px / 2 - 0.48px);
  top: 19.45px;
  font-family: "Readex Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.text2{
width: 549px;
height: 20px;
left: calc(50% - 549px/2 - 0.48px);
top: 81.45px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #000000;
}
.img {
  height: 40%;
  text-align: center;
}

.input {
  height: 30%;
  text-align: center;
}
.input input {
box-sizing: border-box;
height: 50px;
width: 285px;
background: #DCE5E2;
border: 1px solid #000000;
border-radius: 54px 0px 0px 54px;
padding-left: 20px;
margin-top: 40px;
}

.input button {
height: 50px;
background: #000000;
border-radius: 0px 200px 200px 0px;
color: white;
width: 115px;
}

.sendEmailImg{
  width: 233px;
  height: 200px
}

@media only screen and (max-width:400px) {
  .wrapper{
    height: 1300px;
    margin-bottom: 100px;
  }
  .title{
    height: 40%;
  }
  .text1{
    margin-top: -200px;
    width: 100%;
    font-size: 100px;
  }
  .text2{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    line-height: 70px;  
    font-size: 54px;
  }
  .sendEmailImg{
    width: 100%;
    height: 100%;
  }
  .input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
  }
  .input input {
    width: 500px;
    height: 150px;
    font-size: 80px;
  }
  .input button {
    margin-top: 40px;
    width: 220px;
    height: 150px;
    font-size: 40px;
  }
  
}